*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


.container{
    width:100%;
    height: 100vh;
    background-color: #f6f5f4;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    display: flex;
    border: 0.1px solid grey;
    border-radius: 20px ;

}
form{
    width: 50%;
    left: 0;
    margin: 10px;
}
.gobi{
    width: 50%;
    left:0;
    align-items: center;
    background: #8964f1;
    margin: 5px;
    justify-content: center;

}
.lu{
    color: #fff;
    background-size: cover;
    align-items: center;
    text-align: center;
    top: 70%;

}

input{
    width: 100%;
    background: #eee;
    border: none;
    font-size: 16px;
    margin: 8px;
    /* outline:0; */
    padding: 10px 10px;

}


